<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información familiar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/aspirantes/formularioFamiliar.css">
</head>
<body>
    <div class="main-container">
        <h1 class="text-center">Información familiar</h1>
        <hr>

        <h5 class="instrucciones-familiar">Instrucciones para registrar información familiar</h5><br>

        <p>
            En esta sección vas a registrar tu información genealógica.
            Para seguir un orden lógico, te recomendamos llenar la información en el siguiente orden:
        </p>
        
        <ol>
            <li>Abuelos paternos</li>
            <li>Abuelos maternos</li>
            <li>Padres</li>
            <li>Hermanos</li>
            <li>Tú mismo</li>
            <li>Pareja (si aplica)</li>
            <li>Hijos (si aplica)</li>
        </ol>
        
        <p class="formulario-advertencia">
            <span class="fw-bold">Importante:</span> 
            Recuerda que debes registrarte a ti mismo como un familiar usando la etiqueta <strong>"Aspirante"</strong> y enlazarte con tus padres.
            Si tienes pareja o hijos, <strong>regístralos después de haberte registrado a ti</strong> (no antes).
        </p><br>

        <form action="/aspirante/formulario-familiar" method="POST">

            <div class="mb-3">
                <label class="form-label" for="rolFamiliar">
                    Rol de familiar
                </label>
                <input type="text" class="form-control" name="rolFamiliar" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="nombreFamiliar">
                    Nombre completo del familiar
                </label>
                <input type="text" class="form-control" name="nombreFamiliar" required>
            </div>
        
            <div class="mb-3 col-md-3">
                <label class="form-label" for="edadFamiliar">
                    Edad
                </label>
                <input type="number" class="form-control" name="edadFamiliar" required>
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label" for="idGenero">
                    Genero
                </label> <br>
                <select class="form-select" name="idGenero">
                    <% for(genero of generos){ %>
                        <option value="<%= genero.idGenero %>"> 
                            <%= genero.nombreGenero %> 
                        </option>
                    <% } %>
                </select>
            </div>
        
            <div class="mb-3 col-md-3">
                <label class="form-label" for="idEstadoCivil">
                    Estado civil
                </label> <br>
                <select class="form-select" name="idEstadoCivil">
                    <% for(estadoCivil of estadosCiviles){ %>
                        <option value="<%= estadoCivil.idEstadoCivil %>"> 
                            <%= estadoCivil.nombreEstadoCivil %> 
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="mb-3 col-md-3">
                <label class="form-label" for="hijoDe">Hijo de (Padre / Madre)</label> <br>
                <select class="form-select" name="hijoDePadre">
                    <option value="">familiares registrados</option>
                    <% if (hijoDe.length > 0) { %>
                        <% for(hijo of hijoDe) { %>
                            <option value="<%= hijo.idFamiliar %>"> 
                                <%= hijo.nombreFamiliar %> 
                            </option>
                        <% } %>
                    <% } %>
                </select>
            </div>

            <div class="mb-3 col-md-3">
                <label class="form-label" for="hijoDe">Hijo de (Padre / Madre)</label> <br>
                <select class="form-select" name="hijoDeMadre">
                    <option value="">familiares registrados</option>
                    <% if (hijoDe.length > 0) { %>
                        <% for(hijo of hijoDe) { %>
                            <option value="<%= hijo.idFamiliar %>"> 
                                <%= hijo.nombreFamiliar %> 
                            </option>
                        <% } %>
                    <% } %>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Estado de vida
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                            name="estadoDeVida" 
                            value="1"
                            id="vivo" required>
                    <label class="form-check-label" for="vivo">
                        Vivo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                            name="estadoDeVida"
                            value="2"
                            id="fallecido" readonly>
                    <label class="form-check-label" for="fallecido">
                        Fallecido
                    </label>
                </div>
            </div> 
            <div class="mt-5 mb-4">
                <button type="submit" class="btn btn-color--secondary">Enviar información</button>
            </div>

            <button id="botonTerminar" type="button" class="btn btn-color--third mb-4">
                Terminar
            </button>

        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const formularioFamiliares = document.getElementById("formularioFamiliares");
            const botonTerminar = document.getElementById("botonTerminar");

            botonTerminar.addEventListener("click", () => {
                window.location.href = '/aspirante/respuestas-enviadas';
            });
        });
    </script>
</body>
</html>