<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas Pendientes</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/aspirantes/pruebasPendientes.css">
    <!-- CSS navside -->
    <link rel="stylesheet" href="/css/includeCss/_navsideAspirante.css">
    <!-- CSS cerrar sesión -->
    <link rel="stylesheet" href="/css/includeCss/_buttonCerrarSesion.css">
</head>

<body class="bg-light">

    <div class="main">

        <!-- Navside -->
        <%- include('../includes/_navsideAspirante.ejs') %>

        <div class="container">

            <!-- Boton de cerrar sesión -->
            <%- include('../includes/_buttonCerrarSesion.ejs') %>

            <h1 class="text-center" >PRUEBAS PENDIENTES</h1>
            <hr>
    
            <div class="row g-4">
    

                <% for(pruebaPendiente of pruebasPendientes) { %>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header">
                                    <h5 class="card-title w-50"><%= pruebaPendiente.nombre %></h5>
                                    <% 
                                        const estatusPrueba = {
                                            'Completada': 'prueba-completada',
                                            'Pendiente': 'prueba-pendiente',
                                            'Vencida': 'prueba-vencida',
                                            'En progreso': 'prueba-progreso'
                                        };
                                        const estatus = estatusPrueba[pruebaPendiente.nombreEstatus] || 'prueba-default'; 

                                        <!-- CAMBIO CODIGO: Asignar la ruta segUn el nombre de la prueba -->
                                        let rutaPrueba = '';
                                        if (pruebaPendiente.nombre === 'Colores de Luscher') rutaPrueba = '/aspirante/instrucciones-colores';
                                        if (pruebaPendiente.nombre === 'OTIS') rutaPrueba = '/aspirante/instrucciones-otis';
                                    %>
                                    <% if (estatusPrueba[pruebaPendiente.nombreEstatus]) { %>
                                        <span class="card-estatus <%= estatus %>">
                                            <%= pruebaPendiente.nombreEstatus %>
                                        </span>
                                    <% } %>
                                </div>
                                <p class="card-text card-grupo">Grupo: <%= pruebaPendiente.nombreGrupo %></p>
                                <p class="card-text"><%= pruebaPendiente.descripcion %></p>
                                <% 
                                    const fecha = new Date(pruebaPendiente.fechaLimite);
                                    const fechaFormato = `${fecha.getDate()}/${fecha.getMonth()+1}/${fecha.getFullYear()}`;
                                %>
                                <p class="card-text">Fecha límite: <%= fechaFormato %></p>
                                <% if (pruebaPendiente.nombreEstatus === 'Pendiente' || pruebaPendiente.nombreEstatus === 'En progreso') { %>
                                    <div class="d-flex justify-content-between">
                                        <!-- CAMBIO CODIGO: href ruta -->
                                        <a href="<%= rutaPrueba %>" class="btn btn-color--secondary">Realizar prueba</a>
                                        <span>
                                            <%= pruebaPendiente.tiempo %> 
                                            <% if (pruebaPendiente.tiempo != null) { %>
                                                min
                                            <% } %>
                                        </span>
                                    </div>
                                <% } else {%>
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            <%= pruebaPendiente.tiempo %> 
                                            <% if (pruebaPendiente.tiempo != null) { %>
                                                min
                                            <% } %>
                                        </span>
                                    </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                <% } %>
    
            </div> 
        </div> 
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Incluir el script del navside -->
    <script src="/js/_navside.js"></script>

</body>
</html>
