<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspirantes por Grupo</title>
    <!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <!-- Link css -->
    <link rel="stylesheet" href="/css/psicologos/informacionAspirantes.css">
    <!-- CSS navside -->
    <link rel="stylesheet" href="/css/includeCss/_navsidePsicologo.css">
    <!-- CSS cerrar sesión -->
    <link rel="stylesheet" href="/css/includeCss/_buttonCerrarSesion.css">
</head>

<body>

    <div class="main">

        <!-- Navside -->
        <%- include('../includes/_navsidePsicologo.ejs') %>

        <div class="container">
            <!-- Boton de cerrar sesión -->
            <%- include('../includes/_buttonCerrarSesion.ejs') %>

            <h3 class="text-center">INFORMACIÓN ASPIRANTE</h3><br>

            <div class="aspirante-info">
                <h4 class="aspirante-titulo"> Nombre del aspirante: </h4>
                <p class="aspirante-info">
                    <%= informacionAspirante.nombreUsuario %> 
                    <%= informacionAspirante.apellidoPaterno %> 
                    <%= informacionAspirante.apellidoMaterno %>
                </p>    
            </div>
        
            <br>

            <div>
                <div class="d-flex align-items-center">
                    <h4>Datos personales</h4>
                    <a class="btn btn-danger" href='/psicologo/editar-aspirante/<%= idInstitucion %>/<%= idGrupo %>/<%= informacionAspirante.idAspirante %> '>Editar</a>
                </div>
                <hr>
            
                <div>
                    <div class="datos-personales">
                        <h6 class="datos-titulo">Institución de prodecencia: </h6>
                        <p class="datos-info"><%= informacionAspirante.institucionProcedencia %></p>
                    </div>
                    <div class="datos-personales">
                        <h6 class="datos-titulo">Correo electrónico:</h6>
                        <p class="datos-info"><%= informacionAspirante.correo %></p>
                    </div>
                    <div class="datos-personales">
                        <h6 class="datos-titulo">Número telefónico:</h6>
                        <p class="datos-info">+<%= informacionAspirante.lada %> 
                            <%= informacionAspirante.numeroTelefono %>
                        </p>
                    </div>
                    <div class="datos-personales">
                        <h6 class="datos-titulo">País de origen:</h6>
                        <p class="datos-info"><%= informacionAspirante.nombrePais %></p>
                    </div>
                    <div class="datos-personales">
                        <h6 class="datos-titulo">Estado de residencia:</h6>
                        <p class="datos-info"><%= informacionAspirante.nombreEstado %></p>
                    </div>
                </div>
            </div><br>

            <div>
                <h4>Documentación</h4>
                <hr>
                <div class="d-flex align-items-center">
                    <img class="document-icon" src="/images/document.svg" alt="ícono de documento">
                    <p class="document-titulo">CV</p>
                    <% if (informacionAspirante.cv != null) { %>
                        <button  class="btn btn-color--secondary" 
                        onclick= "window.open('/expedientes/<%= informacionAspirante.cv %>', '_blank')"
                        >Ver</button>
                    <% } else { %>
                        <span class="document-status">Este aspirante no ha subido su CV</span>
                    <% } %>
                </div><br><br>
                <div class="d-flex align-items-center">
                    <img class="document-icon" src="/images/document.svg" alt="ícono de documento">
                    <p class="document-titulo">Kardex</p>
                    <% if (informacionAspirante.kardex != null) { %>
                        <button  class="btn btn-color--secondary"
                        onclick= "window.open('/expedientes/<%= informacionAspirante.kardex %>', '_blank')"
                        >Ver</button>
                    <% } else { %>
                        <span class="document-status">Este aspirante no ha subido su Kardex</span>
                    <% } %>
                </div>
            </div><br>

            <div>
                <h4>Entrevista Individual</h4>
                <hr>
                <div class="d-flex align-items-center">
                    <img class="document-icon" src="/images/document.svg" alt="ícono de documento">
                    <p class="document-titulo">Formato de entrevista</p>
                    <% if (formatoEntrevista.length > 0) { %>
                        <a href="/psicologo/respuestas-formato-entrevista/<%= idGrupo %>/<%= aspirante %>/<%= idInstitucion %>"
                            class="btn btn-color--secondary">Ver</a>
                        <form action="/psicologo/aspirantes/formato-entrevista/reiniciar/<%= aspirante %>/<%= idGrupo %>/<%= idInstitucion %>" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas reiniciar el formato?')">
                            <button type="submit" class="btn btn-danger">Reiniciar Formato</button>
                        </form>
                    <% } else { %>
                        <span class="document-status">Este aspirante no ha respondido el formato de entrevista</span>
                    <% } %>
                </div>
            </div><br>

            <div>
                <h4>Pruebas</h4>
                <hr>
                <div class="row g-4 mt-4">
                    <% for(prueba of informacionPruebas) { %>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header">
                                        <h5 class="card-title w-50"><%= prueba.nombre %></h5>
                                        <% 
                                            const estatusPrueba = {
                                                'Completada': 'prueba-completada',
                                                'Pendiente': 'prueba-pendiente',
                                                'Vencida': 'prueba-vencida',
                                                'En progreso': 'prueba-progreso'
                                            };
                                            const estatus = estatusPrueba[prueba.nombreEstatus] || 'prueba-default'; 
                                            
                                            let rutaPrueba = '';
                                            if (prueba.nombre === 'Colores de Luscher') rutaPrueba = '/psicologo/cuadernillo-colores';
                                            if (prueba.nombre === 'OTIS') rutaPrueba = '/psicologo/cuadernillo-otis';
                                            if (prueba.nombre === 'TERMAN') rutaPrueba = '/psicologo/analisis-terman';
                                            if (prueba.nombre === 'HARTMAN') rutaPrueba = '/psicologo/analisis-hartman';
                                            if(prueba.nombre === 'PRUEBA DE 16PF') rutaPrueba = '/psicologo/cuadernillo-16PF';
                                            if(prueba.nombre === 'KOSTICK') rutaPrueba = '/psicologo/cuadernillo-KOSTICK';

                                            let rutaReiniciar = '';
                                            if (prueba.nombre === 'Colores de Luscher') rutaReiniciar = '/psicologo/aspirantes/reiniciar-colores';
                                            if (prueba.nombre === 'OTIS') rutaReiniciar = '/psicologo/aspirantes/reiniciar-otis';
                                            if (prueba.nombre === 'TERMAN') rutaReiniciar = '/psicologo/aspirantes/reiniciar-terman';
                                            if (prueba.nombre === 'HARTMAN') rutaReiniciar = '';
                                            if(prueba.nombre === 'PRUEBA DE 16PF') rutaReiniciar = '/psicologo/aspirantes/reiniciar-16pf';
                                            if(prueba.nombre === 'KOSTICK') rutaReiniciar = '/psicologo/aspirantes/reiniciar-kostick';
                                        %>
                                        <% if (estatusPrueba[prueba.nombreEstatus]) { %>
                                            <span class="card-estatus <%= estatus %>">
                                                <%= prueba.nombreEstatus %>
                                            </span>
                                        <% } %>
                                    </div>
                                    <p class="card-text"><%= prueba.descripcion %></p>
                                    <% 
                                        const fecha = new Date(prueba.fechaLimite);
                                        const fechaFormato = `${fecha.getDate()}/${fecha.getMonth()+1}/${fecha.getFullYear()}`;
                                    %>
                                    <p class="card-text">Fecha límite: <%= fechaFormato %></p>
                                    <% if (prueba.nombreEstatus === 'Completada') { %>
                                        <div class="d-flex justify-content-between">
                                            <!-- CAMBIO CODIGO: href ruta -->
                                            <a href="<%= rutaPrueba %>/<%= idGrupo %>/<%= aspirante %>/<%= idInstitucion %>" class="btn btn-color--secondary">Ver resultados</a>
                                        </div> 
                                    <% } else if(prueba.nombreEstatus === 'En progreso') {%>
                                        <div class="d-flex justify-content-between">
                                            <form action="<%= rutaReiniciar %>/<%= aspirante %>/<%= idGrupo %>/<%= idInstitucion %>" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas reiniciar esta prueba?')">
                                                <button type="submit" class="btn btn-danger">Reiniciar Prueba</button>
                                            </form>
                                        </div>
                                    <% } else {%>
                                        <div class="d-flex justify-content-between">
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div><br><br>

        <a class="btn btn-color--third"
        href='/psicologo/informacion-grupos/<%= idGrupo %>/<%= idInstitucion %> '
        >Regresar</a><br><br>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Incluir el script del navside -->
    <script src="/js/_navside.js"></script>
</body>